h1{
    color: aqua;
    background-color: black;
    text-align: center;
}
h1:hover{
    color:yellow;
}
p{
    background-color: #fff;
    border: 3px solid dodgerblue ;
    width: 25%;
    padding: 30px;
    margin: 10px;
}
